parameters:
  app.config:
    timezone: Europe/Warsaw
    providerType: gitRepository #Supported: gitRepository, gitlabApiFiles, gitlabApiArchive
    parserType: composerJsonAndLock #Supported: composerJson, composerJsonAndLock, composerFull (composerFull works only with gitlabApiArchive)
    writerType: xlsx #Supported: xlsx, json, html, googleSheets
    gitlab:
      url: https://gitlab.com
      apiToken: #https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html - read_repository permission is required
    ansibleVaultPassword: #Used by provider gitlabApiArchive to decrypt auth.json.encrypted if present

  package.config:
    #groupType supported values: require, require-dev, replace, observed, patchset
    #Options not available with parser composerJson
    includeInstalledVersion: false #Requires composer.lock to add installed versions
    installedVersionDisplayedIn: comment #Supported: comment, value

    packageGroups:
      - { name: Group1, parserPriority: 10, writerOrder: 20, groupType: require,  regex: /.*group1.*/}
      - { name: Group2, parserPriority: 20, writerOrder: 10, groupType: require,  regex: /.*group2.*/ }
      - { name: Group3, parserPriority: 0,  writerOrder: 30, groupType: replace,  regex: /.*/ }
      - { name: Group4, parserPriority: 0,  writerOrder: 40, groupType: observed, regex: /.*/ } #groupType not available with parser composerJson
      - { name: Group5, parserPriority: 0,  writerOrder: 40, groupType: patchset, regex: /.*/ } #groupType not available with parser composerJson
    observedPackages: #Options for groupType observed
      - vendor/package_name1
      - vendor/package_name2

  writer.config:
    local:
      fileName: "projects-{date}" #Without file extension, used by writers: xlsx/json/html
      fileDirectory: var/results #Output directory for writers: xlsx/json/html
      sheetName: "Extensions in projects" #Used by writers: xlsx/googleSheets
    googleSheets:
      spreadsheetId: #Required when writerType=googleSheets
      serviceAccountJsonPath: #Required when writerType=googleSheets, path to service account JSON key file
    styling:
      groupHeaderBackgroundColor: F2F2F2 #RGB (no #)
      cellStyleMapping:
        - { versionRegex: /(dev-.*|.*-dev)/, color: FF8000, backgroundColor: FF0000}
        - { packageNameRegex: /^package_name1/, versionRegex: /((?!2\.4\.3).)*/, color: FF0000}

  repository.config:
    repositoryList:
      - name: project1
        directory: var/repositories/project1
        remote: git@git.com:projects/project1.git
        branch: origin/master #Format for provider: gitRepository
      - name: project2
        directory: var/repositories/project2
        remote: git@git.com:projects/project2.git
        branch: master #Format for provider: gitlabApiFiles, gitlabApiArchive
